.listContent{
    background: var(--gray-400);
    border-radius: 8px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 4.5rem;
}
.listContent button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.listContent .circle{
    color: var(--blue);
    margin-right: 0.75rem;
}
.listContent .circle:hover{
    color: var(--blue-dark);
}
.listContent .circleChecked{
    color: var(--purple-dark);
    margin-right: 0.75rem;
}
.listContent .circleChecked:hover{
    color: var(--purple);
}
.listContent .description{
    max-width: 632px;
    font-size: 0.875rem;
    line-height: 1.4;
}
.listContent .descriptionAllowed{
    max-width: 632px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-decoration: line-through;
}
.listContent .trash{
    color: var(--gray-300);
}
.listContent .trash:hover{
    background: var(--gray-400);
    color: var(--danger);
}