.list{
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 4rem 1.5rem;
}
.list div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list div img{
    width: 56px;
    height: 56px;
    margin-bottom: 1rem;
}
.list div strong{
    font-weight: bold;
    line-height: 1.4;
}
.list div p{
    line-height: 1.4;
}